<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/teamwork1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="page-heading">
                    <!-- <h1>Killers Family</h1> -->
                    <!-- <p class="subheading">Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war. We're very active, chat is always busy and clan wars are back-to-back, Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
                    We communicate; members discuss clan wars strategies, attack plans, and help each other improve.</p>
                    <hr class="small"> -->
                    <span class="subheading">Bengal killers has evolved into top war clans - which continues to improve day after day. Our members are determined to come out on top of every clan war. We're very active, chat is always busy and clan wars are back-to-back, Donations are frequent and top-tier; the highest donators are often in the range of 5 to 10 thousand per season
                    We communicate; members discuss clan wars strategies, attack plans, and help each other improve. Check out all our clan mates below.</span>
                </div>
            </div>
        </div>
    </div>
</header>






<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Killers Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

        <hr>


    </div>
    <!-- /.container -->


<!-- <div class="container">
        

 <a class="video"  title="The Falltape" href="http://www.youtube.com/v/ZeStnz5c2GI?fs=1&amp;autoplay=1"><img src="images/1.jpg" alt="" /></a>
  <a class="video" href="javascript:void(0)" title="Love and Focus Best of 2008 Skate HD" href="https://www.youtube.com/watch?v=EOoeYpnYkpc&amp;autoplay=1"><img src="assets/img/noImage.jpg" alt="" /></a>
  <a class="video"  title="The Barn" href="http://www.youtube.com/v/4tS88S6em8Y?fs=1&amp;autoplay=1"><img src="images/3.jpg" alt="" /></a>
  <a class="video"  title="Jose Rojo - Commercial" href="http://www.youtube.com/v/R7vq0-r9WSc?fs=1&amp;autoplay=1"><img src="images/4.jpg" alt="" /></a>




        
    </div> -->