<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('assets/img/cocbg.jpg')">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
               <h1>Bengal killers</h1>
               <hr class="small">
               <span class="subheading">One of the top clans based in India</span>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Main Content -->
<div class="container">
   <div class="row">
      <!-- <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"> -->
      <div class="col-lg-9 col-md-9 col-sm-12">
         <div class="post-preview">
            <a href="post.html">
               <h2 class="post-title">
                  Welcome to Bengal Killers
               </h2>
               <h3 class="post-subtitle">
                  Clan Tag: #PUYPY9VQ
               </h3>
            </a>
            <p class="post-meta">This website is the home to the Bengal Killers Family of Clans. Founded for the hardcore gamer in us all, the Killers family aims to bring together players who are dedicated to their craft, and tired of the casual Clash environment. Within our family, you will find only players who strive for the 3-star raid, aim to improve their technique at each opportunity, and also have a great time while doing it. [<a routerLink='../about'>Read More</a>]</p>
         </div>
         <hr>
         <div class="post-preview">
            <a href="post.html">
               <h2 class="post-title">
                  Join Bengal Killers today
               </h2>
            </a>
            <p class="post-meta">We are a fun-loving friendly clan who enjoys a good conversation while sharing troops to help one another. We aim to participate in clan war every other week and will remove inactives from the clan.</p>
         </div>
         <hr>
         <!-- <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Clan Rules
                </h2>
                <h3 class="post-subtitle">
                    As part of the Jaguar clan, we are bound by the following rules:
                </h3>
            </a>
            <p class="post-meta">Be active in chat. Communicate in English so everyone can understand. <br>
            No spamming, cursing, swearing and fighting among clan members.<br>
            Non-active members will be kicked. Therefore, be sure to request a lot!<br>
            Minimum level for donation is 5 (ex. level 5 archers/giants). Dragons are generally preferred. Be sure to follow request instruction. More info below.<br>
            Upon reaching 500 donations, you are eligible to request for specific troops like dragons and expensive dark troops. This resets every season.<br>
            During clan trophy push, do not drop trophy on purpose until trophy push has ended. Non-participants may get kicked (or possibly banned).<br>
            Participate in clan wars if you are eligible. Failure to participate will result in suspension (or ban).
            Clan hopping may result in suspension. We do not encourage hopping.<br>
            No asking for promotion to elder and leader. Making such request could result in kick.<br></p>
            </div>
            <hr> -->
         <!-- Pager -->
         <!-- <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
            </ul> -->
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
         <!-- Twitter feed and FB button block starts -->
         <div class="tw-feed" style="text-align: center;">  
            <a class="twitter-timeline" href="https://twitter.com/KillersBengal"
               width="350"
               height="500"
               data-chrome="nofooter"
               >@Twitter Feed</a>
         </div>
         <br>
         <div style="text-align: center;">
            <a class="twitter-follow-button"
               href="https://twitter.com/KillersBengal" data-size="large" data-show-count="false">
            Follow @BengalKillers</a>
         </div>
         <div style="text-align: center; margin: 20px 0 20px 0;">
            <p style="color: #777;font-size: 18px;font-style: italic;margin-top: 0;text-align: center;">Like us on Facebook</p>
            <div class="fb-like" data-href="https://www.facebook.com/ClashofClans/" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
         </div>
      </div>
      <div class="col-lg-12 col-md-12">
         <div class="col-lg-12 col-md-12 col-sm-12 tabbedSliderHolder">
            <!-- slider starts -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="assets/img/BK_logo3.jpg" style="width: 1200px; height: 400px; background-size: contain;">
                     <div class="carousel-caption">
                        <h3>
                           No Mirror
                        </h3>
                        <p>
                           We don't believe in any specific war rule. People have freedom to select der target
                           and troop combo. Know more about our war Strategy, click here.
                        </p>
                     </div>
                  </div>
                  <!-- End Item -->
                  <div class="item">
                     <img src="assets/img/BK_logo4.jpg" style="width: 1200px; height: 400px; background-size: contain;">
                     <div class="carousel-caption">
                        <h3>
                           BK Blog
                        </h3>
                        <p>
                           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                           tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                           ipsum dolor sit amet, consetetur sadipscing elitr.
                        </p>
                     </div>
                  </div>
                  <!-- End Item -->
                  <div class="item">
                     <img src="assets/img/BK_logo5.jpg" style="width: 1200px; height: 400px; background-size: contain;">
                     <div class="carousel-caption">
                        <h3>
                           Clan Wars
                        </h3>
                        <p>
                           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                           tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                           ipsum dolor sit amet, consetetur sadipscing elitr.
                        </p>
                     </div>
                  </div>
                  <!-- End Item -->
                  <div class="item">
                     <img src="assets/img/bgLogo1.jpg" style="width: 1200px; height: 400px; background-size: contain;">
                     <div class="carousel-caption">
                        <h3>
                           War Videos
                        </h3>
                        <p>
                           Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                           tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem
                           ipsum dolor sit amet, consetetur sadipscing elitr.
                        </p>
                     </div>
                  </div>
                  <!-- End Item -->
               </div>
               <!-- End Carousel Inner -->
               <ul class="nav nav-pills nav-justified">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">War Strategy</a></li>
                  <li data-target="#myCarousel" data-slide-to="1"><a href="#">BK Blog</a></li>
                  <li data-target="#myCarousel" data-slide-to="2"><a href="#">Clan Wars</a></li>
                  <li data-target="#myCarousel" data-slide-to="3"><a href="#">War Videos</a></li>
               </ul>
            </div>
            <!-- End Carousel -->
         </div>
      </div>
      <!-- testimonials-with-carousel starts -->
      <div class="col-lg-12 col-md-12 testimonialsCarouselHolder">
         <div class="container content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
               <!-- Indicators --> 
               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
               </ol>
               <!-- Wrapper for slides --> 
               <div class="carousel-inner">
                  <div class="item active">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="thumbnail adjust1">
                              <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive" src="http://placehold.it/100"> </div>
                              <div class="col-md-10 col-sm-10 col-xs-12">
                                 <div class="caption">
                                    <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <blockquote class="adjust2">
                                       <p>Lameez Ali</p>
                                       <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> 
                                    </blockquote>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="thumbnail adjust1">
                              <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive" src="http://placehold.it/100"> </div>
                              <div class="col-md-10 col-sm-10 col-xs-12">
                                 <div class="caption">
                                    <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <blockquote class="adjust2">
                                       <p>Sourin Das</p>
                                       <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example2.com</cite></small> 
                                    </blockquote>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item">
                     <div class="row">
                        <div class="col-xs-12">
                           <div class="thumbnail adjust1">
                              <div class="col-md-2 col-sm-2 col-xs-12"> <img class="media-object img-rounded img-responsive" src="http://placehold.it/100"> </div>
                              <div class="col-md-10 col-sm-10 col-xs-12">
                                 <div class="caption">
                                    <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <blockquote class="adjust2">
                                       <p>Sanjay Karmakar</p>
                                       <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> https://www.linkedin.com/in/sanjib-karmakar-27605144</cite></small> 
                                    </blockquote>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> 
            </div>
         </div>
      </div>
   </div>
</div>
<hr>
<section class="promise" style="background-image: url('assets/img/promise_values.jpg')">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-center">
            <h3>Our Promise and Values</h3>
            <p>
               Committed to creating best value for our clan mates, we seek to maintain high ethical standards and a <br> culture that values honesty &amp; transparency. 
            </p>
            <p>
               Sanjib Karmakar(Pintai)
            </p>
         </div>
      </div>
   </div>
</section>
<!-- <hr> -->